.footer_main
{
    display: flex;
    justify-content: space-between;
    margin: 0px 5%;
    margin-top: 80px;
}

.footer_main h3
{
    font-family: 'Lora', serif;
}
.fbg
{
    height: 500px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2 ;
}
.aboutf i
{
    margin: 0px 10px 0px 0px;
    color: #6C757D;
}

.aboutf p
{
    color: #747F88;
}
.cpoy
{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747F88;
}

.contextf i
{
    margin-left: 15px;
}

.blog_Name small
{
    color: #747F88;

}