.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    height: 100%;
}

.img_1 
{
    width: 150px;
    height: 150px;
    overflow: hidden;
}


.img_1 img
{
    height: 150px;
    width: auto;
}

.text h2
{
    font-size: 19px;
    
    font-family: 'Lora', serif;
}
.text p
{
    
    font-family: 'Lora', serif;
    font-size: 13px;
}
